-provide(:title, @user.name)
%h1
  %strong
    =@user.name
-if current_user == @user
  .center
    =link_to "Edit Your Account", edit_user_path(@user)
-if can? :supervise, User
  .center
    =@user.role.humanize
%h3.text-center
  Documents
-if @user.documents.count == 0
  %h5.text-center
    This user has no documents!
-else
  %table.table.table-striped.table-bordered.table-hover.table-condensed
    %thead
      %tr
        %td
          -if can? :supervise, Document
            ID
        %td
          Score
        %td
          Name
        %td
          Link
        %td
        %td
    %tbody
      -@user.documents.each do |document|
        %tr
          %td
            -if can? :supervise, document
              = document.id
          %td
            Score
          %td
            = document.name
          %td
            = link_to "#{document.format}", url_with_protocol(document.link), :target => "_blank"
          %td
            -if can? :edit, document
              = link_to "Edit", edit_document_path(document), id: "edit_document_#{document.id}"
          %td
            -if can? :destroy, document
              = link_to "Delete", document, method: :delete, data:{confirm:"Are you sure?"}, id: "delete_document_#{document.id}" 

%h3.text-center
  Guides
-if @user.guides.count == 0
  %h5.text-center
    This user has no guides!
-else
  %table.table.table-striped.table-bordered.table-hover.table-condensed
    %thead
      %tr
        %td
          -if can? :supervise, Ticket
            ID
        %td
          Score
        %td
          Name
        %td
          Format
        %td
          Game
        %td
        %td
    %tbody
      -@user.guides.each do |guide|
        %tr
          %td
            -if can? :supervise, guide
              = guide.id
          %td
            Score
          %td
            = link_to "#{guide.name}", guide
          %td
            = guide.format
          %td
            = guide.game.name
          %td
            -if can? :edit, guide
              = link_to "Edit", edit_guide_path(guide), id: "edit_guide_#{guide.id}"
          %td
            -if can? :destroy, guide
              = link_to "Delete", guide, method: :delete, data:{confirm:"Are you sure?"}, id: "delete_guide_#{guide.id}"
%h3.text-center
  Tickets
-if @user.tickets.count == 0  
  %h5.text-center
    This user has no tickets!
-else
  %table.table.table-striped.table-bordered.table-hover.table-condensed
    %thead
      %tr
        %td
          -if can? :supervise, Ticket
            ID
        %td
          Score
        %td
          Name
        %td
          Description
        %td
          Fulfilled?
        %td
          Status
        %td
          Game
        %td
        %td
    %tbody    
      -@user.tickets.each do |ticket|
        %tr
          %td
            -if can? :supervise, ticket
              = ticket.id
          %td
            Score
          %td
            = link_to "#{ticket.name}", ticket
          %td
            = ticket.body
          %td
            = ticket.fulfilled.to_s.humanize      
          %td
            -if !ticket.fulfilled
              = ticket.status
          %td
            = link_to "#{ticket.game.name}", ticket.game
          -if can? :edit, ticket
            %td
              = link_to "Edit", edit_ticket_path(ticket), id: "edit_ticket_#{ticket.id}"
          -if can? :destroy, ticket
            %td
              = link_to "Delete", ticket, method: :delete, data:{confirm:"Are you sure?"}, id: "delete_ticket_#{ticket.id}" 
