%h1.align-center.col-md-4.col-md-offset-4
  Tickets
%table.table.table-striped.table-bordered.table-hover.table-condensed
  %thead
    %tr
      %td
        -if can? :supervise, Ticket
          ID
      %td
        Score
      %td
        Name
      %td
        Description
      %td
        Fulfilled?
      %td
        Status
      %td
      %td
  %tbody
  -#if a game exists, use only tickets from that game
  -#otherwise, show all tickets
  -if !@game
    -var = Ticket.all
    -#SORT BY SCORE
  -else
    -var = @game.tickets
  -var.each do |ticket|
    %tr
      %td
        -if can? :supervise, ticket
          = ticket.id
      %td
        Score
      %td
        = link_to "#{ticket.name}", ticket
      %td
        = ticket.body
      %td
        = ticket.fulfilled.to_s.humanize      
      %td
        -if !ticket.fulfilled
          = ticket.status
      -if can? :edit, ticket
        %td
          = link_to "Edit", edit_ticket_path(ticket), id: "edit_ticket_#{ticket.id}"
      -if can? :destroy, ticket
        %td
          = link_to "Delete", ticket, method: :delete, data:{confirm:"Are you sure?"}, id: "delete_ticket_#{ticket.id}" 