%h1.text-center
  Tickets
-#if a game exists, use only tickets from that game
-#otherwise, show all tickets
-unless @game
  -var = Ticket.all
  -@tickets = Ticket.all.sort_by{ |a| -a.score }
-else
  -var = @game.tickets
  -@tickets = @game.tickets
  -@tickets = @tickets.sort_by{ |a| -a.score }
-if var == [] && @game
  %h5.text-center
    = link_to "Create the first ticket!", new_game_ticket_path(@game.id)
-else
  %table.table.table-striped.table-bordered.table-hover.table-condensed
    %thead
      %tr
        %td
          -if can? :supervise, Ticket
            ID
        -if can? :vote, Ticket
          %td
        %td
          Score
        %td
          Name
        %td
          Description
        %td
          User
        %td
          Game
        %td
          Fulfilled?
        %td
          Status
        %td
        %td
    -var.each do |ticket|
      -#see if user already voted on this ticket
      -if current_user && ticket.voted_up?(current_user)
        -up_suffix = "_clicked"
      -elsif current_user && ticket.voted_down?(current_user)
        -down_suffix = "_clicked"
      -else
        -up_suffix = ""
        -down_suffix = ""
      %tbody
        %tr
          %td
            -if can? :supervise, ticket
              = ticket.id
          -if can? :vote, ticket
            %td
              -#voting stuff goes in this td
              =form_for @vote, html:{class:"ticket_vote"}, remote: true do |f| 
                =f.hidden_field :ticket_id, :value => ticket.id
                =f.hidden_field :user_id, :value => current_user.id 
                =f.hidden_field :vote_type, :value => "up"
                = button_tag(type: 'submit', class: "up_submit upvote#{up_suffix}") do
                  %span.glyphicon.glyphicon-arrow-up
              =form_for @vote, html:{class:"ticket_vote"}, remote: true do |f| 
                =f.hidden_field :ticket_id, :value => ticket.id
                =f.hidden_field :user_id, :value => current_user.id 
                =f.hidden_field :vote_type, :value => "down"
                = button_tag(type: 'submit', class: "down_submit downvote#{down_suffix}") do
                  %span.glyphicon.glyphicon-arrow-down
          %td
            %div{id:"game_ticket_#{ticket.id}_score"}
              =ticket.score
          %td
            = link_to "#{ticket.name}", ticket
          %td
            = ticket.body
          %td
            = link_to "#{ticket.user.name}", ticket.user
          %td
            = link_to "#{ticket.game.name}", ticket.game
          %td
            = ticket.fulfilled.to_s.humanize      
          %td
            -if !ticket.fulfilled
              = ticket.status
          -if can? :edit, ticket
            %td
              = link_to "Edit", edit_ticket_path(ticket), id: "edit_ticket_#{ticket.id}"
          -if can? :destroy, ticket
            %td
              = link_to "Delete", ticket, method: :delete, data:{confirm:"Are you sure?"}, id: "delete_ticket_#{ticket.id}" 