%h1.align-center.col-md-4.col-md-offset-4
  Games
%table.table.table-striped.table-bordered.table-hover.table-condensed
  %thead
    %tr
      -if can? :supervise, Game       
        %td
          ID
      -if can? :supervise, User
        %td
          User ID
      %td
        Name
      %td
        Description
      -if can? :update, Game
        %td
          Edit      
      -if can? :destroy, Game
        %td
          Delete      
  %tbody
    -@games.each do |game|
      %div
        %tr
          -if can? :supervise, Game
            %td
              = game.id
          -if can? :supervise, User
            -if game.user
              %td
                = "#{game.user.id} (#{game.user.name})"
            -else
              %td
                = "#{game.user_id} (deleted)"
          %td
            = link_to game.name, game
          %td
            = game.body
          -if can? :update, game
            %td
              = link_to "Edit", edit_game_path(game), id: "edit_game_#{game.id}"  
          -if can? :destroy, game
            %td
              = link_to "Delete", game, method: :delete, data:{confirm:"Are you sure?"}, id: "delete_game_#{game.id}"          
          