-provide(:title, @guide.name)
%h1
  = @guide.name
%h3.center
  Guide for 
  = link_to "#{@guide.game.name}", @guide.game
%h4.center
  Written by
  = link_to "#{@guide.user.name}", @guide.user
.text-center
  %h5
    Format: 
    = @guide.format
  -unless @guide.link.blank?
    %h5
      Link:
      = link_to "#{@guide.link}", "#{@guide.link}"
  -if can? :edit, @guide
    = link_to "Edit Guide", edit_guide_path(@guide), id: "edit_guide_#{@guide.id}"
.row.top15

-unless @guide.body.blank?
  = markdown(@guide.body)
